[2021-12-12 02:17] jwdonahue commented on #783
The maintainers have never applied the spec's semantics to its own version. There have been many 2.0.0 publications over the years. Past maintainers have pointed to other standards bodies that have allowed minor updates to be taken without bumping the version as an excuse. I would guess that we're on something like 2.>3.>10, but I haven't done the spelunking to determine exactly where we should be

[2021-12-12 02:24] jwdonahue commented on #783
Oh, I would add that the website is generated from the other repo at https://github.com/semver/semver.org where all of the website content is generated, including the translations.

[2021-12-12 15:49] JC3 commented on #783
Bleh. Well it is what it is. It's not a huge deal that tags aren't maintained on changes, but I think at least the tag should match the website.

Maybe the best compromise is to just move the v2.0.0 tag to the current revision so it matches the actual published spec?

[2021-12-13 20:25] cobusve commented on #773
The 2 comments above exactly match my expectations here, I was hoping to get some kind of authoritative answer by logging an issue here, would that be possible?

[2021-12-13 22:04] jwdonahue commented on #773
The specification is the authority here. It says what you must do under a limited set of conditions and is mute on everything else. All other content are the opinions of their respective authors.

[2021-12-13 22:17] jwdonahue commented on #640
Precedence is covered in #11, but it lacks examples that include meta.

I think their should be a paragraph break between the descriptions and their respective examples.

Each of the descriptions should refer to #11 wrt to precedence rules.

[2021-12-13 22:27] jwdonahue commented on #640
I also think that explicitly excluding metadata from the sort order was a major lapse in judgement. It was put there to satisfy opposing camps (need meta, don't or won't support it). It should have been optional. Conforming tools MUST allow metadata and SHOULD or MAY provide an option to sort/select versions that match a specific tag.

[2021-12-15 02:57] avodonosov commented on #771
@jwdonahue , thank you for the feedback, but no. Read also the Introduction, it poses semantic versioning as a solution to the dependency hell problem.

In the current form the document is an invitation to break backwards compatibility any time, under a false promise that changing major version number solves all dependency hell issues.

It's important to keep in mind, that the person who experienc

[2021-12-15 21:11] EricMCornelius commented on #716
How about we consider a concrete example here in this discussion - instead of venturing so deep into the theoretical?

Consider this:

Package maintainer adds a new dynamic library dependency - which is resolved at runtime.

Technically, no public "API" in the sense of header code/public interface has changed.

However, the dynamic library dependency they've introduced eliminates a large swath of

[2021-12-15 22:45] ljharb commented on #716
@EricMCornelius yes, it's a breaking change for the package. That the dependency is resolved at runtime is irrelevant.

[2021-12-15 23:12] jwdonahue commented on #716
@EricMCornelius

How exactly did the maintainer accomplish this feat?

It always comes down to exactly what is being versioned? The package or the code-defined interface?  Apparently there are some in the ecosystems you are aware of, that chose to answer that question differently than you think they should.  That's fine, the market will either punish or adapt to those publisher's eventually. The s

[2021-12-16 02:18] jwdonahue commented on #771
@avodonosov How do you propose to fix it?

[2021-12-16 17:23] EricMCornelius commented on #716
@ljharb - that's my stance. But it needs to be officially clarified what the meaning of API is in the context - otherwise people will argue the ambiguity of the definition to justify making significant breaking changes just because the public interface hasn't been modified in a backwards-incompatible way.

@jwdonahue -

That is not clear.  And the semantic intent of what a major version change rep

[2021-12-16 17:37] ljharb commented on #716
@EricMCornelius the simpler way to look at it is, "is a change going to break someone's existing usage of you in an environment where it previously worked? then it's breaking". I'm not sure how that can really be argued.

[2021-12-16 17:42] EricMCornelius commented on #716
@ljharb - is this the official position of the specification? I'm unclear who has authority here to state as such.

Because I can point you towards precisely where it's being argued that "because the public interface didn't change, platform removal due to additional dynamically linked dependencies don't constitute a need for a major version update"

It's a major project. Which proudly proclaims it

[2021-12-16 17:52] jwdonahue commented on #716
@mvz @EricMCornelius.  see "Add a note about transitive dependencies on JVM #414". Maybe if enough people support it, it won't take another 5 years to finish it?

[2021-12-16 17:57] jwdonahue commented on #716
@EricMCornelius, please point us to one or more specific cases.

[2021-12-16 18:02] jwdonahue commented on #468
And yet another discussion on this topic: #716

[2021-12-16 18:05] ljharb commented on #716
@EricMCornelius please do point me to it; i'll be happy to attempt to persuade them.

[2021-12-16 18:12] mvz commented on #716
@jwdonahue I'm confused: that pull request seems to refer to a closed issue, which itself refers to a wording of the FAQ that has now changed completely.

[2021-12-16 18:19] mvz commented on #716
@EricMCornelius is it possible to break stuff on windows 7 by attempting the upgrade? Or will it just not install?

[2021-12-16 18:41] jwdonahue commented on #716
@mvz That's because it is old and things change. The PR was closed because we gave up hope of getting any traction out of whoever was on the maintainer list back then. Most of us have day jobs.  There used to be hundreds of open PR's and threads here. We made a concerted effort to close all the old PR's and threads that weren't getting any traction.

I tried to get it down to a list of manageable

[2021-12-16 18:47] mvz commented on #716
Thanks, @jwdonahue, I'll look through the #468 thread.

[2021-12-16 19:12] ljharb commented on #716
@mvz in this particular case, the maintainer is wrong, but they also explicitly said they don't want to debate it further so I won't sealion into that thread. Interestingly, they are a former node core developer, and my interpretation here is one node has always followed as well - as part of semver - so I'm not sure why they're taking this stance now.

[2021-12-16 22:48] jwdonahue commented on #716
[libuv/libuv #3260](https://github.com/libuv/libuv/issues/3260) does not present a compelling argument for changing anything in the spec. Publishers should not be required to continue supporting out of support platforms and should not have to take a major version bump to drop them. In this case, the publisher has made it clear they discontinue supporting OS's that are past _their_ publisher's publ

[2021-12-16 22:58] ljharb commented on #716
Yes, they should have to. Support status for a platform has zero relevance to "breakage" - the semver spec says nothing about support status.

[2021-12-17 00:12] jwdonahue commented on #716
Nothing in the supported universe of that product was broken by the change, therefore there was no breaking change.

If we have to bump the major version of our products every time we break a few users relying on an unsupported feature, we risk having supported users get locked-in to previous versions. Lock-in is bad. Every major version bump is a barrier to automatic ingestion of bug fixes.

[2021-12-17 00:43] jwdonahue commented on #716
@ljharb For the most part, I agree with you, but I do think it's not a Boolean choice. If someone argued that they only support `P.v(LKG)`, I'd want to know what they are smoking. I think there's wide support for the idea that `P.LatestLTS - N` is far more reasonable, but there's going to be some lamenting exactly what `N` should be, but when `P.IsEOL(v)` is true, nobody should have to support it.

[2021-12-17 00:59] ljharb commented on #716
Nobody has to. But everyone has to do a semver-major bump when dropping it, because it breaks nonzero users.

[2021-12-17 01:16] jwdonahue commented on #716
So far, nobody has been able to get language committed to the spec that is anywhere near that prescriptive. There's plenty of content here that argues that we don't have to promise not to ever break anyone without a major version bump. Common sense, IMO, argues that some corner cases need not be supported. It's just a matter of how thick skinned the publisher is vs how noisy the corner cases are.

[2021-12-17 01:48] EricMCornelius commented on #716
Seriously incorrect. Hence all the activity on said issues. Windows 7 is still in extended support via Microsoft and used throughout huge numbers of enterprises. Eliminating the ability to build properly security-patched software for still supported OSes used in the wild is not an esoteric edge case.

That being said.

I am asking yet again: who is the actual authority on the semver spec and inten

[2021-12-17 02:32] jwdonahue commented on #716
As I have said before, the spec is the _only_ authority. What the spec says, is what it means. What it doesn't say is just as important.  I am not saying it's right, I just spent a lot of time in this space and I know that it has a loose definition of API, and the FAQ literally states that dependencies are beyond its applicable scope.

I have also been a proponent of tightening it up a bit wrt to

[2021-12-17 02:46] Spudz76 commented on #716
The hilarious part is I'm pretty sure the original system call still exists even in Win11, so the correct move would be to leave the API alone until the legacy system call actually is removed, at which point swap in the "new" one because it's the only way to do it anymore.  Only move to new API's when forced, not when someone said something is over.  Nothing is over until it's actually not working

[2021-12-17 03:07] jwdonahue commented on #716
@Spudz76 That all has a ring of truth to it, but it's wasted here. The owners of that library are the deciders, however arbitrary, and they do have the wording of the SemVer spec on their side. It's not the first time I've seen the EOL of an OS version being used as an excuse to simplify the code base, and it won't be the last.

[2021-12-17 05:52] EricMCornelius commented on #716
Literally came here to point out the fact that the intention of the spec is ambiguous and used as an excuse for poor engineering practices and bikeshedding, and get treated to a masterclass in bikeshedding.

So I'll reiterate again: who is the formal maintainer of the spec who can authoritatively speak to the intention of where *semantic versioning* actually means anything about guarantees around

[2021-12-17 09:57] SafeArrow816 opened #784 "Games System Pro"
Correction d' une version pour être utilisée avec un employeur et un employé.

[2021-12-17 09:59] SafeArrow816 commented on #784
Semver utilisation nécessaire.

[2021-12-17 18:39] jwdonahue commented on #716
@EricMCornelius

Read the [CONTRIBUTING.md file](https://github.com/semver/semver/blob/master/CONTRIBUTING.md).

[2021-12-17 18:45] jwdonahue commented on #716
@EricMCornelius

I call it wise engineering management, but there's always a few who insist that their specific corner case is worthy of continued support. Sometimes, you have to respond to it, some times you don't.

[2021-12-19 00:05] jwdonahue commented on #719
Don't forget to update the [CONTRIBUTING.md](https://github.com/semver/semver/blob/master/CONTRIBUTING.md) file.

[2021-12-19 11:37] FichteFoll commented on #716
The entire discussion, like any other similar discussion, solely concerns the definition of the "public API" or a tool or library, which is generally left for the authors or maintainers of that tool or library to define, because SemVer applies to provide a largely generic approach that can be applied to many facets of software. In general, you are most likely to understand the scope of a public AP

[2021-12-20 07:21] Liltreks opened #785 "Forwarded"
To the office of the general surgeon vape smoke has some how activated a functioning between inhaling  my smell and the flavour of the vape smoke

[2021-12-22 06:29] avodonosov commented on #771
@jwdonahue, I propose to remove the wording that can be understood as mere increase of major version solves dependency hell.  And to add several sentences of advice, as suggested in the issue description.

[2021-12-22 18:02] Juliawan81 opened #786 "Fake gps"
Actif Location

[2021-12-23 06:04] jwdonahue commented on #771
Not true in all environments. SemVer is platform/language agnostic.

It's up to publishers whether they wish to release breaking changes. It's up to consumers to decide whether to take them.

This level of detail should be left to platform and language standards and conventions, not specified in a platform/language agnostic spec.

Sounds like a platform/language convention to me.  Nothing in the S

[2021-12-23 10:07] jackiebrewster307 opened #787 "npm install npm@latest -g"

[2021-12-23 10:07] jackiebrewster307 commented on #787
Apple root iPhone

[2021-12-23 10:08] ben-xD commented on #238
From my thoughts, this issue is completely solved by [spec item 9](https://semver.org/#spec-item-9), the solution being use `pre-release` (e.g. `1.0.0-alpha.1`) if you want to keep breaking new APIs you have added. However, once you've released a stable version (non pre-release and 1.0.0 and above), you have to make sure you don't break the APIs already available in those stable releases.

What ar

[2021-12-23 11:52] Cheddar77 commented on #666
I love that it’s really amazing

[2021-12-23 12:25] Juliawan81 commented on #786
https://github.com/semver/semver/issues/786#issue-1087060423

[2021-12-23 19:49] EvanCarroll commented on #765
@jwdonahue it's under the sorting rules,

And again,

The problem with this is that `-alpha` comes before `1.0.0`, but what if `1.0.0` is released and your developing on something that may be `2.0.0` or `1.1.0` or `1.0.1`. You're going to want a method for that to sort _AFTER_, `1.0.0`, otherwise how will you create tooling that allows you to grab the _latest_ version? How will you draw the distin

[2021-12-24 01:15] jwdonahue commented on #765
@EvanCarroll

No prerelease ever sorts after a release version. It's not safe and a post release doesn't change that. You either have a release quality publication or you don't.

Your best option is to start with 1.0.1-alpha and work until you know where you landed in the (1.0.0, 2.y.z] range. As long as -alpha is attached, all changes are potentially breaking, so you're not going to harm anybody

[2021-12-24 01:50] jwdonahue commented on #765
@EvanCarroll

In fact, the prerelease tag is your ticket to make any kind of random changes you see fit to make:

In other words, you can publish any kind of WIP without even testing it if that is what you need to do. The presence of the prerelease tag literally means "consumer beware, this version might be dangerous".

I think this perennial issue regarding "post release" forms of versioning stem

[2021-12-24 04:00] EvanCarroll commented on #765
You have a lot of words, but so many are unrelated to technical merits.

That's not true, what do you think this does in a `cargo.toml` or `package.json` file,

[code]

It picks the latest version that sorts greater version 1. That _should_ include things developed after 1.0.0 but compatible to it. The version `1.0.0-rc1` would not get picked up, the proposed `1.0.0/dev1` would get picked up.

[2021-12-24 04:59] ljharb commented on #765
The only way you could guarantee compatibility, is if you knew that the changes in the postrelease were patch or minor - in which case, you know which version it’s a prerelease for.

[2021-12-24 10:52] jwdonahue commented on #765
@EvanCarroll

That is a selector or version filter. How it behaves is not defined by SemVer.

You are free to issue a PR for whatever language you propose. I doubt you'll find much for support for it. There's been plenty of earlier "post release" proposals made, some of them actually issued a PR. Fact is that any change to allow post-release semantics of any kind would be a breaking change to the

[2021-12-24 18:50] EvanCarroll commented on #765
I'm not sure what you mean by compatability but of the following conditions are ensured,

* post-release and pre-releases are exclusive,
* post-release comes before build-data

Then 1.2.3/1 is not valid semver at all now. And making it a valid version would not change the ordering on systems that predated it.

[2021-12-24 18:54] EvanCarroll commented on #765
What are you even talking about? The whole purpose of semver is to establish version numbers so we know how one version relates to another version. It's pretty explicit,

That precendence is what selectors depend on. It's what makes this project useful.

At this point I'm really having a hard time discerning any utility from your responses @jwdonahue.

[2021-12-24 19:16] ljharb commented on #765
I’m saying that if you know that 1.2.3/1 is compatible with 1.2.3, then you also have precisely enough information to know whether it (currently) would be a prerelease for 1.2.4 or 1.3.0.

[2021-12-24 22:25] jwdonahue commented on #765
@EvanCarroll SemVer specifies precedence rules that say `V1 < V2`. It does not define whether a consumer should select Min(Versions) or Max(Versions) or Predicate[x](Versions). Those functions may sort Versions prior to choosing a specific version to pull, but not all F(Versions) are sensitive to sort order. The spec simply provides the minimal set of rules required to order a set of versions when

[2021-12-25 00:39] EvanCarroll commented on #765
@jwdonahue I would block you if I could, but I can't. It's not my intent to respond to you again. Not because your bad guy, but I don't care about the non-technical objections. This isn't productive. You've got the last word on the matter. Thanks.

[2021-12-25 00:50] EvanCarroll commented on #765
@ljharb Ah, so you mean how would compatibilty be inferred between versions, rather than between between a version of semvar with and without such knowledge of forward-releases. I don't think it would work any different than pre-release currently does.

For example the spec actuall says this,

Why is that this couldn't also be said,

The only thing you're trying to maintain here is the ordinal sig

[2021-12-25 01:11] ljharb commented on #765
Right - but “a prerelease for a version that comes after the released version” already conveys that information. Why do we need two ways to do so?

[2021-12-25 02:06] jwdonahue commented on #765
Well there's a first. I've never been accused of being non-technical before.

@EvanCarroll  If I could silence everyone who disagrees with me, I'd be a happy camper too.

[2021-12-25 23:41] #785 closed

[2021-12-27 13:03] rammi62 opened #788 "Proposed regular expressions fit too many digits"
The currently proposed regular expressions use the `\d`meta character, which is nowadays usually matching digits in the Unicode sense. So it does not only match ASCII 0-9, but also something like [Devanagiri digits](https://en.wikipedia.org/wiki/Devanagari_numerals).

As this is obviously wrong just use plain old `[0-9]`instead.

[2021-12-31 14:46] Big297 opened #789 "ดูนี่สิ... 👀"
ดูนี่สิ... 👀 https://pin.it/75cz5Ni

[2022-01-01 13:43] Liltreks opened #790 "<!-- This issue tracker is only for technical issues related to Bitcoin Core."
**Expected behavior**

**Actual behavior**

**To reproduce**

**System information**

__Originally posted by @Liltreks in https://github.com/bitcoin-core/gui/issues/514__

[2022-01-01 18:37] jwdonahue commented on #560
@nurupo

Tagging the repo with version numbers is not necessary and in some cases undesirable. In the absence of other reference sources, it can be convenient for developers to go back and find the commit that produced a particular package, but the practice doesn't scale well and the tags are not immutable. It's better to encode the repo hash into the build-meta tag of the version string if your p

[2022-01-02 20:24] arithex opened #791 "FAQ or guidance for changes in underlying dependency stack?"
I love semantic versioning and have advocated for it (or something like it) for decades.   But one case where I'm never sure how to apply it, is when altering/updating underlying dependencies.

As a simple example, imagine an app or library that used to ship 32- and 64-bit binaries, but now is 64-bit only.   Or a graphics library that used to be based on DirectX11 but now is based on DX12.

No new

[2022-01-02 20:25] arithex commented on #791
Related but different: https://github.com/semver/semver/issues/771

[2022-01-02 20:40] ljharb commented on #791
Yes, absolutely. To be non-breaking, it must run on all the same systems it used to.

[2022-01-02 20:47] arithex commented on #771
I agree semver isn't meant to be a magic bullet to solve all versioning problems -- just a coherent way to talk about versioning changes, and communicate changes/expectations.

But I also agree this issue is a real problem, and worthy of some discussion or guidance to library vendors (eg. allow major-version breaking changes to run side-by-side with older versions, whenever possible, through conve

[2022-01-02 21:05] jozefizso commented on #771
These transitive package dependency issues must be solved at the package manager and programming language level. This is not something SemVer should define.

[2022-01-02 21:09] arithex commented on #791
I suppose this is why we have Windows 11 now.  (newly requires a TPM chip, and DX12 :)

Should there be a FAQ, or update to the description of what constitutes a breaking-change..  I see now, there is a FAQ for "deprecating functionality" that could encompass this.

I think the (potential) cognitive dissonance here is that people think of "API change" differently than "min system requirements".  B

[2022-01-02 21:12] ljharb commented on #791
I don't understand why it needs a FAQ or why this kind of question keeps coming up.

For every possible "someone": if someone is using your software at version X, and they update to version Y, does *literally anything* no longer work? If anything no longer works, *it is a breaking change*. If everything still works, it's minor or patch.

It does not matter whatsoever if the reason for the breakage

[2022-01-02 22:38] arithex commented on #791
Well if a question keeps coming up, it is a FAQ by definition.  :P

Seriously, I agree with you -- I think the issue confusing some folks is just terminology.  The spec talks entirely in terms of "API" but, the thing which we apply version numbers to, is our concrete implementation of an API, not the abstract definition of the API.

The wording throughout the doc leads one to think in terms of the

[2022-01-02 23:23] ljharb commented on #791
Fair point on the F in FAQ :-p

the i in API is “interface”; all observable behavior and semantics are part of the interface.

[2022-01-03 00:25] arithex commented on #791
Clearly.  It's the "AP" part that is not so clear.  People can point at their code and say "nothing changed, we don't need to bump the major version".

I don't know any better term than "API contract" to mean "the fundamental contract of compatibility between two software components".  So, I merely suggest semver could be strengthened by defining its use of the term "API" to make that broader mean

[2022-01-03 20:34] camerons opened #792 "Proposed addendum: How MAJOR.MINOR.PATCH applies to docs"
Within the tech writing space, we would benefit from a common understanding about what MAJOR, MINOR, and PATCH means when applied to documentation.

As a tech writer, I'm personally motivated to try and solve this and work with others toward a solution. Immediate needs I'm aware of:
1. For specifications we are drafting at Google.
2. For documentation templates we are developing within [The Good D

[2022-01-03 20:55] ljharb commented on #792
Why does documentation need a way to convey breakage?

[2022-01-03 23:18] Liltreks opened #793 "@monmon"
@monmon

__Originally posted by @crazyguero in https://github.com/octocat/Spoon-Knife/pull/2677#issuecomment-1003725746__

[2022-01-04 11:43] camerons commented on #792
@ljharb
Some, but not all documentation types can break backwards compatibility. An update to a blog or news post typically won't break compatibility. Doc types which may break backward compatibility include:
* Standards and specifications, such as for describing an API.
* Reference documentation for a product, which breaks compability when the product being documented breaks compatibility.
* A ch

[2022-01-04 14:53] ljharb commented on #792
It seems like you just answered your own question then?

[2022-01-05 03:16] camerons commented on #792
@ljharb
It is possible you haven't yet read the proposed [semantic versioning addendum for documents](https://docs.google.com/document/d/1gPr_OHoUkg5Wjj3UWYX78ORtTBArSJck4mWrKhWpfPA/edit)? Yes, we have a proposed interpretation of MAJOR.MINOR.PATCH for docs.

Our goal is to establish a widely recognized and acknowledged standard for semantic versioning as applied to documentation. Ideally, this wo

[2022-01-05 03:48] ljharb commented on #792
Ah, thanks, I’d misunderstood the purpose of this issue.

[2022-01-06 16:15] RolfBippus commented on #394
@jwdonahue
Just a minor remark to the above.
When using pre-release tags, which are prefixed by '-' in semver, shouldn't you use '+' for the 'commits ahead'(Meta) part:

for example:
`git describe --long` delivers `'2.15.4-pre-2-g<hash>'`
semver compatible version could be `'2.15.4-pre+2.<hash>'` (loose=True)

That way:

`'2.15.4-pre'` **<** `'2.15.4-pre+1.<hash>'` **<** `'2.15.4'` **<** `'2.15.4+

[2022-01-10 01:32] jwdonahue commented on #792
@camerons This seems like the right approach to me.

Proposed 6.1 e & f have the word "addition" in them, implying in my mind that a minor bump should apply. Notes, cross references and metadata are document features, as such, adding any of these is adding a feature to the document. There may even be situations where adding a document author or license could be a breaking change.

Proposed 7.1 d r

[2022-01-10 01:55] jwdonahue commented on #791
In many cases, dependency nets and supported platforms will certainly be in play when considering whether to bump the major version, but this is not the case in every environment and the SemVer FAQ literally states that dependencies should not be considered.

@arithex do a little research, you'll find this topic has been ground to dust over the years and some really good proposed changes to the FA

[2022-01-10 02:11] jwdonahue commented on #791
@ljharb wrote:

Bugs can be observable behaviors. There is such a thing as pushing a concept too far.

The spec says that the publisher defines whatever the API is. That means they can say the version number applies only to method signatures without regard to implementation behaviors (pure interfaces for instance). They can say it applies to everything in a package, except the package manifest. As

[2022-01-10 02:18] ljharb commented on #791
Yes, which is why intention matters.

Put another way, unless an observable behavior is *documented* to not be part of the API, it is part of it.

[2022-01-10 02:52] jwdonahue commented on #791
Not according to the spec. The spec says only that which you have defined, by whatever means, is part of your API. You can make no claims regarding my unstated intentions, any more than I can on yours. If I observe that you stumbled while walking, should I assume you did so intentionally? What if you fall and crack your head open? Should I leave you there, on the assumption that you intended to la

[2022-01-10 18:47] lodjdero opened #795 "Fhj"

[2022-01-23 21:35] Mommmy55 opened #796 "Blake's Story"

[2022-01-25 11:13] Metan6666 opened #797 "Add to mrahmatipuia@gmail.com"
zhramhmdy941@gmail.com

[2022-01-26 07:24] Angg4r4 opened #798 "KRB"
@krambarshol:bagaimana kita merncanakan suatu pekerjaan agar mudah, lebih efisien dan mendapatkan hasil yang memuaskan.[github.com/ krambatshol](https://github.com/krambarshol)

[2022-01-28 08:20] jcornaz opened #799 "Is semver versioned with semver?"
Hi,

I see that https://semver.org is versioned and we currently sit at version 2.0.0

Intuitively I'd expect it to use semantic versioning to version itself. But it looks like it doesn't?

I noticed the latest version is 2.0.0, published in june 2013. But the readme of this repository states:

Does that mean it is not versionned at all?

And if it is versioned with semver, how would the first poi

[2022-01-29 21:02] Zladey1 opened #800 "Попов Евгений"
**Правопреемники**
Никто не на значал###
_

[2022-02-03 04:09] avodonosov commented on #771
That's indeed a possible alternative to simply write "Breaking compatibility may lead to dependency hell. The details are out of scope of this document, SemVer is merely a notation to distinguish compatible versions from incompatible ones".

However, that's not friendly to users. Why be mysterious? Several sentences about multiple versions in the dependency tree can illustrate the problem and give

[2022-02-04 10:38] avodonosov commented on #771
Related: #341, #414

[2022-02-11 13:40] Saklad5 commented on #799
I interpret that requirement as mandating _explicit_ declaration of a public interface. That is, you are required to specify the scope of the version you provide.

If the version is attached to code, that means specifying a public API. If the version is attached to other things (such as a compiled application binary or a specification), it may mean something else.

[2022-02-11 13:44] Saklad5 commented on #333
@alexandrtovmach Any update on this? As mentioned almost a year ago, I think consensus has been reached.

[2022-02-11 14:27] jcornaz commented on #799
That sounds quite problematic. Especially for the versioning of semver itself. Assuming it is indeed versioned with semver because we still don't know...

It would be nice to know what is the scope for the semver version. What kind of change would make it bump to: 2.0.1, 2.1.0, or 3.0.0?

[2022-02-11 14:33] Saklad5 commented on #799
Simple: it’s based on how conformance is affected by the update.

- A patch release means everything conforming to the previous version conforms to the new version. An obvious example would be fixing typos or rewording something without changing its meaning.
- A minor release means everything conforming to the new version conforms to the previous version. This could mean adding additional rules.
-

[2022-02-11 14:45] jcornaz commented on #799
I don't think it is that simple, or at least not that obvious. And even it if was, it should at least be documented. I am still waiting for a statement from the maintainers of this repository.

It is not what is happening. Here is what has changed since version 2.0.0: https://github.com/semver/semver/compare/v2.0.0...master

Yet the version number hasn't changed at all. Not even to 2.0.1

I would

[2022-02-11 14:47] Saklad5 commented on #799
True. I feel they should be incrementing the patch version whenever they change the actual spec.

[2022-02-11 14:58] jcornaz commented on #799
Ah well, of course, it depends on the perspective. And that's precisely the problem. But because it is not documented, then we can only guess.

Needless to say that if your definition is actually what is applied, then as a library author I do *not* want to follow semantic versioning. I don't want to find myself that my past releases are suddenly not semver compliant, just because the specification

[2022-02-11 15:01] Saklad5 commented on #799
That can’t happen. If you comply with Semantic Versioning 2.0.0, you will _always_ comply with Semantic Versioning 2.0.0.

[2022-02-11 15:01] jcornaz commented on #799
No, they wouldn't. If I stay I follow semver 2.0.0, then it should work with semver 2.1.0, but it doesn't because I don't follow the new rules. If you want a code analogy, it is like adding a new member to an interface. That is a breaking change for every users that implement the interface *must* implement the member.

[2022-02-11 15:06] Saklad5 commented on #799
That is not how specifications work. In specifications, rules are tantamount to features: you are required to do _a_ or implement _b_. This dates back far beyond SemVer, even.

As an example, if something claimed to support HTTP/1.0, you would not expect it to have all the features of HTTP/1.1. If something claimed to support HTTP/2, you could not (from the version alone) assume HTTP/1.1 clients o

[2022-02-11 15:08] jcornaz commented on #799
I'm glad to know your opinion @Saklad5. But, I am still sad that @semver/maintainers still don't want to state how semver is actually versioned.

[2022-02-11 15:13] jcornaz commented on #799
I think this example is irrelevant because HTTP doesn't follow semantic versioning. And even if it would, it depends on what they defined as the public API. If they state the public API is from the point of view of the consumer only, then it's fine. But the API surface still has to be clearly defined.

In the case of semver, we don't even know if they follow semver!

[2022-02-11 15:14] alexandrtovmach commented on #333
Am I understood correctly that your "consensus" expect to add changes to next version of SemVer?

[2022-02-11 21:49] Saklad5 commented on #333
Yes. As I said last year, there was only ever one objection, and they ostentatiously abandoned the project.

[2022-02-12 03:24] thom-jp commented on #666
I was confused by the word API and took effort to find out whether I can apply semver or not. Then, I found discussion here.

I personally suppose that term "API" is mainly used for software friendly interface.

In broad range of word interpretation, we probably can claim as like "My GUI software versioning is comply with semver 2.0.0.", based on a thought that GUI can be used by software,
I think

[2022-02-12 19:19] hinell commented on #583
I'm afraid that BNF is broken.

Contrary to the spec quoted above the following grammar listed in the [Semver 2.0]  allows leading zeroes.:
[code]

To fix that, I would suggest to list it a bit different way:

[code]
[Semver 2.0]: https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions

[2022-02-13 16:31] CidTori opened #802 "Can you modify versioned prereleases?"
The FAQ states that "it is unacceptable to modify versioned releases", but is it acceptable to modify versioned _pre_-releases?
For example, can you reuse version 1.2.3-alpha (or 1.2.3-SNAPSHOT) until it's stable enough, or do you _need_ to increment it (1.2.3-alpha.1, 1.2.3-alpha.2, …) each time you make a change?
If both are acceptable, are their best practices (like maybe you can reuse alphas b

[2022-02-13 16:33] ljharb commented on #802
Prereleases are themselves still releases, so no.

[2022-02-13 16:35] CidTori commented on #802
Does it mean that Maven's SNAPSHOTs aren't SemVer compliant?

[2022-02-15 14:15] Saklad5 commented on #802
If you want something to be subject to change, simply avoid giving it a version in the first place. This is why versions are generally represented as tags in Git: they are permanently assigned to a specific commit.

In light of this, by the way, I actually recommend against referencing the current version in anything under source control: any commit that doesn’t update it would violate SemVer.

--

[2022-02-16 21:09] RichiH opened #803 "Support for [private] security releases"
https://github.com/grafana/grafana/ and other Grafana projects structure security releases as follows:
* Fix security issue in codebase
* Create private `x.y.z+1` (`+1` used in the "integer plus one" sense here) release -- which contains security-relevant changes *only*
* Release `x.y.z+1` to the public one week later

Normal development runs in parallel, but other releases are blocked until `x.y.

[2022-02-17 11:05] marcusmueller commented on #800
This is not an issue. Nor is it in a language that most users understand here. Please do not do this, and close this.

[2022-02-18 03:37] kunkel246 commented on #803
::<Version Core>
|<Version Core>"-"<pre-relase>
|<Version Core>"+"<bulit>

[2022-02-18 03:39] ljharb commented on #803
How are security fixes different from any other bug fixes?

[2022-02-18 04:40] kunkel246 commented on #803
Relase x.y.z+ seciurity01(+seciurity01

[2022-02-18 04:44] kunkel246 commented on #803
X.y.z+1

[2022-02-18 04:49] kunkel246 commented on #803
<Version core> ,<major>"."<minor>"."<path>

[2022-02-18 04:52] kunkel246 commented on #803
|<major>"."<minor>"."<path>"."<superpath>

[2022-02-18 04:54] kunkel246 commented on #803
<Superpath>::=<bulidindefinier>

[2022-02-18 12:11] mkungla commented on #803
I fully agree here with @ljharb,

THEY ARE NOT. security fixes are clearly `<patch>` . I understand that intention is to skip some of the  *internal Q&A* and to push security patches out quicker than regular patches which may rather introduce security vulnerability. However I feel this proposed approach as it is presented here is bad by the design as similar like some while ago some proposal for "

[2022-02-18 14:24] Konotorious commented on #799
Regardless of the fact that the maintainers of semver should provide the answer, I think you put it quite nicely. Nonetheless, I think you got minor and major mixed up –– which is what, I think, @jcornaz has been addressing.
As I see it, the "feature - rule" analogy does not hold here, and, regardless, semvar specifications speak of a public API, not of "features".
The addition of rules makes a sp

[2022-02-18 15:13] RichiH commented on #803
@kunkel246 this looks like spam. Could you delete it, please?

@ljharb in the general case: They allow non-intended behavior to be triggered by third parties with some level of reliability. In this specific case, we want to be able to release normal patch releases without leaking the existence of a currently-private release, nor to block development workflow. If done right, their fix releases cont

[2022-02-18 15:36] RichiH commented on #803
@ljharb Again, they allow non-intended behavior to be **triggered by third parties with some level of reliability**. I do not wish to replay the discussions around this topic from LKML and elsewhere, though. There are two distinct and incompatible schools  of thought around this topic.

While security releases are my initial motivation, the generic solution proposed is not limited to security rele

[2022-02-18 15:47] ljharb commented on #803
In semver, there’s only one school of thought - a change that’s not breaking and isn’t adding new behavior is patch. Whether something is arbitrarily decided to be a security issue or not (and it is very much not objective) is irrelevant in semver.

[2022-02-18 16:08] RichiH commented on #803
@mkungla In this usage, `<build>` is a no-op. The actual functionality is coming through `<patch>` only, which was my point. Signalling what the intention of a build is is largely irrelevant for this use case. Determining that it's a higher version is the desired behavior.

@ljharb This is a correct description of current behavior, agreed. I would prefer to stop this cyclic discussion while still

[2022-02-20 23:03] #800 closed

[2022-02-22 11:00] pak3nuh opened #807 "Question: Do bump in version implies an actual change for SemVer?"
It might seem like common sense that if a version changes, then something in the code changes, but there are nuances.

For instance there might be branding strategies like bumping a product version to a new major early or there might side effects of bundling components where we make an increment on one of the components, but all others are bumped just because they belong to the same global package

[2022-02-22 15:59] ljharb commented on #807
Yes, a change is not required - although bumping a version when no change is included causes churn for consumers, and so may be seen as a hostile act if done frequently.

[2022-02-23 05:07] Udik2021 opened #809 "Some changes"
https://github.com/octocat/Spoon-Knife/commit/1e0a55b8186f25b173d7103c83ecce2392161b6f

[2022-02-25 23:45] jarphal commented on #765
I need help

[2022-02-25 23:45] jarphal commented on #765
Please help me with

[2022-02-27 17:40] jwdonahue commented on #792
The document version and the product version need not sync up at all. The document my be labeled "Rev H" or just "YYYY-MM-DD. It's presence in the product packaging is one linkage to the product, the other might be the embedded product version somewhere in the document (title/sub-title).

[2022-03-03 21:17] robertalanpower opened #811 "Handling LTS and version sequencing"
Here's a scenario we're looking at:

Time 0: 7.1.0 - designated as an LTS release ; meaning critical bug fixes and security patches only
Time 1: 7.1.1 - critical bug fix; no new features
Time 2: 7.2.0 - significant new features added in a compatible way
Time 3: 7.x.y - customers using 7.1.x LTS stream finds a security issue requiring new functionality;

What version would I use for the patch at Ti

[2022-03-03 21:55] ljharb commented on #811
"release streams" are not part of semver; "LTS" has no meaning here.

In your case, you'd presumably first fix the problem in v7.2.1, and then publish a v7.1.2 that consisted of v7.1.1, plus only patch-level changes (this is called a "backport"). In npm, you do this by specifying (for v7.1.2) a dist-tag that isn't "latest".

Semver doesn't dictate chronology, only changes between two versions. You

[2022-03-03 22:31] robertalanpower commented on #811
Thanks for the quick reply!

You are correct that we would probably first fix the problem in v7.2.1 and then backport the change.  However, the concern is that the fix does not contain only patch level changes since it requires new functionality in order to fix.   So, I thought it  would require a minor version increment rather than a patch version increment.   Our solution to this problem to date

[2022-03-07 14:12] robertalanpower commented on #811
Thanks, I think the root of our issue is that we need release streams due to customer commitments and they are outside of semver so it creates these types of situations.   Appreciate the timely feedback.

[2022-03-07 14:12] #811 closed

[2022-03-07 15:24] davidbarratt commented on #411
Interesting, I didn't know about this issue, but I came to the exact same conclusion as the author #625

[2022-03-09 15:27] Sreejith-Websphere opened #812 "Semantic version sorting issue"
In our project we are using antora 3..0.1 and in docs-playbook urls latest_version_segment key is added to convert actual version to symbolic version. Since our version used in antora.yml is of this form eg: 22.0.0.1, so when we have 22.0.0.1,22.0.0.2,22.0.0.3 antora still shows 22.0.0.1 as latest

Saw Semantic Versioning Specification where they mentioned version should be as x.y.z, so tried with

[2022-03-09 15:55] Calorion opened #813 "Must every version include three numbers?"
It's long been common practice to leave the "patch" number off when it's zero, for instance "1.5" or "2.0", because it's more attractive in public-facing material. Is this prohibited in SemVer? And could this be added to the FAQ?

[2022-03-10 01:38] Calorion commented on #813
I see. Could that be added to the FAQ?

[2022-03-10 04:25] ljharb commented on #813
I’m not a maintainer here, but i suspect that a PR to add that, which is explicitly left open for as long as it takes before it’s merged (years, even), would be the best path to that outcome.

[2022-03-10 21:48] steveklabnik commented on #812
22.0.0.1 is not a semantic version, and so sadly, this is something not under our control. You'd want to ask the antora project.

[2022-03-10 21:48] #812 closed

[2022-03-19 18:39] rayzchen opened #815 "RFC 2119 link is broken"
The RFC 2119 link at https://semver.org/spec/v2.0.0-rc.2.html#semantic-versioning-specification-semver links to http://tools.ietf.org/html/rfc2119 which gives:

![image](https://user-images.githubusercontent.com/54078384/159134227-278e89ca-18d5-4707-ae65-0be6a5d3f03d.png)

[2022-03-29 01:58] bfernand commented on #815
The correct link is: https://datatracker.ietf.org/doc/html/rfc2119

[2022-03-29 16:18] dkg commented on #815
I recommend using https://datatracker.ietf.org/doc/html/rfc2119 or  [BCP14](https://www.rfc-editor.org/info/bcp14) which also includes the disambiguation in [RFC 8174](https://datatracker.ietf.org/doc/html/rfc8174/), which is applicable to the semver document.

[2022-03-29 16:24] dkg commented on #756
See also #815

[2022-03-31 05:31] Evlxsnmr opened #818 "I.iex/dio.connetcz,x”rvocpro"

[2022-03-31 05:31] #818 closed

[2022-04-06 11:59] aman-agrawal-coolblue opened #819 "Should I bump the major version if a change doesn't alter the public API but changes the client behaviour subtly?"
**Scenario**

At my org we have a collection of internal Nuget packages that are used across teams. One such package provides Polly retries around a set of what we consider recoverable/retriable HTTP status codes. From that list, the `500 Internal Server Error` code was recently removed and the _minor_ version incremented.

The impact of upgrading this package will be that the consumers will now l

[2022-04-06 14:03] ljharb commented on #819
Yes. The behavior is part of the API - you thus changed the API in a way that someone might have been relying on.

[2022-04-06 14:14] aman-agrawal-coolblue commented on #819
Would it be an idea to make this "edge case" clearer or more explicit in the spec? Perhaps using this scenario as an example?

[2022-04-06 15:07] ljharb commented on #819
I don't think it's an edge case at all.

Any change that forces the user to change their code is a breaking change - that's an incompatible change.

[2022-04-07 15:33] badabingbadabom opened #820 "Have a issue...."
Grab a tissue

[2022-04-08 01:32] 78877i commented on #820
#Bitcoin1e-12

[2022-04-08 01:33] 78877i opened #821 "#Bitcoin1e-12"
#Bitcoin1e-12

_Originally posted by @78877i in https://github.com/semver/semver/issues/820#issuecomment-1092353423_

[2022-04-08 02:32] badabingbadabom commented on #820
https://github.com/semver/semver/issues/820#issuecomment-1092353423

[2022-04-08 18:01] #820 closed

[2022-04-08 18:01] #821 closed

[2022-04-12 01:00] masaers opened #822 "One of the examples renders incorrectly"
The last example under point 9 of the Semantic Versioning Specification contains an identifier constituting two dashes. This renders as an n-dash when converted to HTML, which is not a correct identifier.

[2022-04-13 01:07] mwgamble commented on #518
This is a bit over the top. Sometimes an organisation needs to maintain an internal fork of a piece of software for various reasons. In this case, it would be nice to have a supported versioning strategy for these kinds of releases.

[2022-04-13 01:19] SasanBenvidi opened #823 "Sasan"

[2022-04-13 23:29] foxherson opened #824 "Fox"
Fi x
Aleksandrcernyj87205@gmail.com

[2022-04-14 20:14] IdkMan2 opened #825 "Warning when bundling with rollup: "Circular dependencies""
When I try to bundle my library (with semver as a dependency) with rollup I get the following warning:

[code]

The library on which I am working is public, so feel free to play with rollup yourself (located under /lib directory in monorepo):
https://github.com/IdkMan2/next-recompose-plugins

[2022-04-14 20:21] ljharb commented on #825
That package is https://github.com/npm/node-semver - not this repo.

[2022-04-15 12:33] IdkMan2 commented on #825
Mistake, sory mate.

[2022-04-15 12:33] #825 closed

[2022-04-16 23:02] #824 closed

[2022-04-18 18:57] #823 closed

[2022-04-22 04:58] sebastien-rosset opened #826 "Reorder subregex patterns to match valid semver strings?d"
Unless I am mistaken, these strings are valid according to semver v2:
[code]

Shouldn't the regex be changed to `(?<major>0|[1-9]\d*)\.(?<minor>0|[1-9]\d*)\.(?<patch>0|[1-9]\d*)(?:-(?<prerelease>(?:\d*[a-zA-Z-][0-9a-zA-Z-]*|[1-9]\d*|0)(?:\.(?:\d*[a-zA-Z-][0-9a-zA-Z-]*|[1-9]\d*|0))*))?(?:\+(?<buildmetadata>[0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?`

[2022-04-22 06:10] sebastien-rosset commented on #826
Performance wasn't my goal, but the updated regex seems to have slightly better performance:

[code]

[code]

[2022-04-27 07:23] SubaruArai opened #829 "Font issues on certain translations (namely CJK that have larger fonts)"
## The problem

In some languages, the mixed Latin font and local font makes it really hard to read (or even realize) the dots.

### Examples:
As an quick example, here's the first line of Summary:

EN:

CJK (as a bad example):

Arabic (as an OK example):

Since GitHub renders as if it wasn't so bad, here are some screenshots (1080p 24inch monitor, browsed with firefox, chrome was pretty much the

[2022-05-02 14:02] RoystonS commented on #815
The original http://tools.ietf.org/html/rfc2119 link which was reported as broken is now working, and automatically redirects to https://datatracker.ietf.org/doc/html/rfc2119.

[2022-05-02 17:04] pboling commented on #716
I have always interpreted the SemVer spec as requiring a major version bump in case of dropping support for a platform.  If a tool works on my platform, and I install a patch, I expect it to work.  In no scenario that I work with in my capacity as a developer should the tool stop working when the only delta is the patch install.  Therefore platform support can't be dropped in a patch, and it follo

[2022-05-02 22:18] felipecrs opened #831 "Why `PATCH` is only for backwards compatible _bug fixes_?"
Why it isn't the following?

[code]

I just want to know why `PATCH` bumps are reserved to only _bug fixes_. What about backwards compatible Performance Improvements, Refactoring, Dependencies Updates, Documentation (that gets shipped with the product), for example? None of them are Bug Fixes, and yet deserves to be released.

[2022-05-03 04:13] jwdonahue commented on #826
Does your regex work correctly against all of the test strings?

https://regex101.com/r/Ly7O1x/3/

The official regex matches a SemVer string as defined by the spec and rejects those that don't match, including non-SemVer prefix and postfix content that might be on the line. I don't see where you've eliminated back tracking, but my regex foo is a tad rusty.  We did put in some effort to reduce bac

[2022-05-03 04:37] jwdonahue commented on #819
I agree with ljharb on this in principle, but since these are internal components, I wonder if someone could have checked that none of the consuming code was negatively impacted?

There's a fuzzy area around what constitutes the "documented API".  If the retry code was not part of the original design and end user documentation, it can be argued that it should not have been relied upon, but that's

[2022-05-03 05:12] ljharb commented on #574
@jwdonahue has your position changed?

[2022-05-03 05:25] jwdonahue commented on #799
The current spec is most definitely not versioned using the SemVer rules.  There have been numerous patch and minor level updates to the v2 spec over the years and they never bumped the version.  This problem has been pointed out many times in the past.  I think the best arguments against bumping the version number are:

1. No tooling changes have been required as a result of any of the updates, b

[2022-05-03 05:26] mvz commented on #716
@pboling the `rubocop` case is a little different because dropping a supported TargetRubyVersion is not caught by the installer, and usually people don't run rubocop on the lowest Ruby version they want to support with their gem.

So I'm fully in agreement with you that dropping a TargetRubyVersion (which is a feature and not a dependency) is a breaking change and should be accompanied by a major

[2022-05-03 05:30] jwdonahue commented on #799
@Konotorious

Allowing Unicode characters would be a breaking change to the spec. Removing MUST or MUST NOT's is always a breaking change to a spec.  In this example, it requires conforming tools to accept a wider range of inputs.

A minor change to a spec would be things like adding clarifying sentences or paragraphs, such as additional FAQ's.

[2022-05-03 05:45] pboling commented on #716
They have never done a major bump to accommodate a version drop, and 1.29.0 will drop Ruby 2.5, if current plans materialize unchanged.

However, I think both types of version support being dropped, from installing, to syntax parsing with the target setting, require a major version bump according to SemVer, and that appears to be what this discussion is about.

The maintainer doesn't see drops as

[2022-05-03 05:57] mvz commented on #716
Yes, I understand what the discussion in this issue is about.

I was just commenting on the fact that dropping a `TargetRubyVersion` is a problem orthogonal to your position on dropping support for a platform a gem runs on.

[2022-05-03 06:05] jwdonahue commented on #803
I think I linked a bunch of the "expand the version triple to..." class of threads.  It's a perennial discussion that never goes anywhere. There have been at least a half dozen PR's issued in the past that languished years before finally being closed by an ambitious maintainer.  I can tell you from experience that anything that adds or removes numeric fields from version core is not going to happe

[2022-05-03 06:09] bbatsov commented on #716
Yep, also notice that we have an extended window for supporting Rubies that reached EOL at the runtime level - we'll now be dropping support for a Ruby release that reached EOL over 1 year ago. I totally agree that changes to `TargetRubyVersion` are a breaking change, but the runtime compatibility stuff is definitely a gray area, especially when this is unlikely to affect anyone in practice (given

[2022-05-03 06:13] jcornaz commented on #799
According to semver, only a major change would mean that it requires changes in tooling. If it has changed without requiring a tooling update, then it should have had patches or minor bumps.

The version string itself is only a small part of the spec. That argument is like saying: "I don't need to bump the version of my software because the file format has not changed"... If the versioning of the

[2022-05-03 06:17] jwdonahue commented on #803
See also: #391, #340, #321

I am sure there's many more, but I don't have time find them all.

[2022-05-03 06:21] jcornaz commented on #831
Yeah, fully agree. Personally, I bump the patch component notably for performance and documentation improvements.

[2022-05-03 06:26] jwdonahue commented on #799
@jcornaz I agree with you.  I was just stating my observations over that past decade or so have been that maintainers have used similar arguments in the past.  This issue comes up all the time and goes nowhere.

[2022-05-03 06:28] jcornaz commented on #819
Semver only applies to the [declared API](https://semver.org/#spec-item-1).

* If what you change is undocumented behavior, then it is a patch (because the API has not changed).
* If it was documented, and you only add more information to the documentation to account for the new behavior, then it is a minor change.
* If it was documented, and it is *necessary* to change the documentation to accoun

[2022-05-03 06:28] jwdonahue commented on #574
Actually, they never suspended or banned me.

[2022-05-03 06:46] jcornaz commented on #819
@ljharb, It cannot be that simple. Even when you fix a bug it may force some users to change their code if they were relying on the buggy behavior without knowing it (and that kind of thing happen all the time).

That's why it is important to consider the change in the context of the declared API. If the behavior was not documented, then you are still promising the same things to your users, and t

[2022-05-03 06:55] pboling commented on #716
Unlikely to affect anyone? Other than the thousands of gem authors who support older rubies in their projects. It won't affect many corporate developers, true... but rubicon is heavily used by FLOSS gems that have widely varying patterns and scopes of support.

[2022-05-03 13:29] RichiH commented on #803
Thanks @jwdonahue. I agree that it seems unlikely to happen at this point, but I also still strongly believe that it's an actual problem that needs to be solved across the industry. Being able to rely on a common standard would be a good thing. On the plus side, any parser which is not deliberately limited will automagically Do The What I Mean with `<major> "." <minor> "." <patch> "." <subpatch>`.

[2022-05-03 13:32] roidelapluie commented on #803
It will not be needed for Prometheus LTS. The minor releases will be supported, not the bugfix releases.

[2022-05-03 14:27] igorpupkinable commented on #341
_Some other code_ is not responsibility of A's author. **A** library author's responsibility to indicate if change in a library breaks or does not break A's consumer.
If it happens that consumer also consumes **d** directly, then it is outside of **A** scope.

[2022-05-03 16:55] igorpupkinable commented on #716
I did not expect so much ambiguity around this. At the end of the day all of us change some data in some container (folder/file/repo). The tiniest data piece is a bit. So it can really go down to a simple question: will a change of one bit break any possible variation of a consumer out there?
- Yes, it can > Breaking change (MAJOR).
- No, it cannot > MINOR or PATCH.

The last thing consumer should

[2022-05-03 18:58] igorpupkinable commented on #666
It is obvious that term API is vague and interpreted differently, which is OK because there is no standard with formal definition. Check out [history of the term](https://en.wikipedia.org/wiki/API#History_of_the_term) section to see the term evolving.

Since SemVer convention can be applied to virtually anything including Microwave panel or TV remote control, then usage of `public interface` makes

[2022-05-03 22:21] jwdonahue commented on #819
It really comes down to how much blow-back are you willing and able to absorb.  If you make an implementation change that breaks a tiny fraction of your users, do you care?  If you break enough of them, maybe you lose your job or go out of business.

The point of SemVer is to communicate risks to your consumers such that they can make informed decisions whether to test your changes.  If you break

[2022-05-05 20:56] Andrei15193 opened #832 "Clarifying Lexical Comparison for Identifier Precedence"
Hi,

In the specifications it is mentioned that precedence between identifiers that are not made out of digits (not numbers, basically) is determined by lexical comparison, however I am unsure how this applies to an edge case where one identifier is in the beginning of another identifier. For instance, if I have `1.0.0-alpha` and `1.0.0-alpha-prep`, which one has precedence? Is it `1.0.0-alpha < 1

[2022-05-10 17:54] NikolaiRuhe opened #833 "A list of examples with proper precedence to help writing unit tests."
Implementing a `SemVer` type is somewhat complex. This is mostly due to some subtle precedence rules.

To help with that it would be great to have a list of version strings to be used in unit tests. Ideally there would be...

- a table of valid strings
- a table of invalid strings
- a table of valid string pairs (in order of precedence)

These test tables should cover various edge cases and are de

[2022-05-11 05:25] jwdonahue commented on #833
Look for the thread(s) where we honed the example regex. You should find some valid and invalid examples.

[2022-05-11 05:28] jwdonahue commented on #832
See [11.4.4](https://semver.org/#spec-item-11):

[2022-05-11 06:02] Andrei15193 commented on #832
But in this case the set of pre-release fields is the same size. The pre-release identifiers are `alpha` and `alpha-prep`. We can use a different example, `1.0.0-alpha` and `1.0.0-alphaPrep`, which one has precedence in this case? `alpha` or `alphaPrep`?

[2022-05-11 06:29] jwdonahue commented on #832
Oh sorry. Alpha-prep is not two fields, my bad. The longer string is greater than the shorter one where they share a common prefix, so -alpha < -alphaPrep.

[Standard lexical comparison](https://www.cplusplus.com/reference/algorithm/lexicographical_compare/#:~:text=A%20lexicographical%20comparison%20is%20the,not%20equivalent%20to%20the%20other.).  The standard libraries or built in string operator

[2022-05-11 06:39] Andrei15193 commented on #832
Was guessing that it's like that, but wanted to make sure.

Alright, that clarifies it for me, thank you 😃

[2022-05-11 06:39] #832 closed

[2022-05-11 16:29] jwdonahue commented on #832
@Andrei15193 Apologies for the confusion. I must have been more tired last night than I thought. `a < b < ab < c` **is incorrect**.

I thought I fixed it, but apparently made the same mistake twice.  Good thing I skimmed my emails this morning.  I have edited the original, and to be clear it should have been:

a < b < ba < c

Just like in a dictionary.

[2022-05-12 06:54] mvz commented on #716
No matter what your opinion about platform version support is, this is emphatically not what SemVer is about. Fixing a bug might break a consumer.

[2022-05-13 15:42] ahenket commented on #792
Thanks. Read it and added a comment

[2022-05-16 09:25] ahenket opened #835 "Deprecation should not lead to a minor change in and of itself"
Pertains to: https://semver.org/#spec-item-7

Deprecation is a meta data thing that applies to the specification, but does not affect a single character in the specification. To date I've never seen any product that has an updated version number just because it is sunsetted.

A change in the minor version signals a change of some kind. Usually a new feature. If all it does is introduce deprecation

[2022-05-17 10:34] sajjadap opened #836 "vc"

[2022-05-20 13:26] JoshCheek commented on #831
I've always bumped the minor version in these situations, I guess I've always thought of them as being closer to features than bugfixes. But if I use @jcornaz's metrics, then yeah, I agree that they'd be patchlevel.

[2022-05-20 19:15] #836 closed

[2022-05-23 16:15] igorpupkinable commented on #716
@mvz

https://semver.org/

So it is exactly about that. Changing anything in the text below (or equivalent) is a change, so it is author's responsibility to "convey what has been modified" and how it can affect consumers.
[code]

[2022-05-23 17:02] mvz commented on #716
@igorpupkinable what is your point? We're discussing breaking changes, not what has been modified in general.

[2022-05-24 08:31] ahenket commented on #835
Deprecation in and of itself does not affect any runtime behavior. It just signals what is going to happen in some future version, allowing implementers time to consider their options. I doubt that node.js ever updated to a new minor just to signal deprecation of a part: for us deprecation of a given standard version when the new major version was already out there was the use case. There was a gr

[2022-05-24 14:55] ljharb commented on #835
“deprecation” isn’t a single thing; the term is incredibly overloaded.

I agree if your deprecation is docs-only, that it’s semver-patch.

[2022-05-30 11:34] migius opened #841 "Question: Prerelease and release number must be the same for same code?"
In a project I use gitflow and semver in this way:
* feature branches > X.Y.Z-alpha
* develop branch > X.Y.Z-beta
* main > X.Y.Z

Of course the prereleases has much more new versions that the develop and the main.

With this situation:

1.0.0
1.0.1-beta, 1.0.2-beta
1.0.1-alpha, 1.0.2-alpha, ... 1.0.12-alpha

if I merge 1.0.12-alpha on develop ewhat is the right new beta version?
* create the 1.0.1

[2022-05-30 13:34] ahenket commented on #835
Is it conceivable to reflect that distinction in a next version of semver? Is there a maintenance process to follow, or does this issue need upvoting from X people, ... other?

[2022-05-30 13:37] ljharb commented on #835
Docs aren’t part of your api, so i think the distinction is already present.

[2022-05-30 19:51] nskobelevs commented on #841
I think you're misusing semvar in this situation. It's designed to version packages that are released for use whether that be npm, cargo or any other form of release.

In general, git branches aren't releases of the package because they don't represent a specific version of the code but a series of changes. So if you have a branch `1.0.1-alpha` then you're problem is that you don't know what actua

[2022-05-31 00:13] epage commented on #835
I disagree.  I read the statement straight as-is and applied it to my main language's notion of deprecation (Rust) which only provides compile time warnings to my direct dependents.

I also have seen enough people being pedantic about semver that clarifying things will help make those conversations go more smoothly.

[2022-05-31 00:23] epage commented on #831
imo distinguishing between no API change and compatible API change has little impact on the callers lives.  The distinction I tend towards is either
- Do the changes, in aggregate, increase risk for the caller to worry about when upgrading?
- Do the semantic changes, in aggregate, need their visibility raised because they might break someone despite it being a bug / undefined behavior?

Or put ano

[2022-05-31 07:52] jcornaz commented on #831
Yes. Sure. That's by definition. The only thing that has a big impact on callers lives is: breaking changes. And breaking changes require major bump. As long as a change is not breaking the API, further details have little impact on the callers live. Not to say it has none. It still find valuable to now from a version number if the API has changed or not.

But there is still a difference that matt

[2022-05-31 11:30] epage commented on #831
Except there are bug fixes that make it unsafe to downgrade.

[2022-05-31 13:26] ahenket commented on #835
So then it may be a question of interpretation. We have adopted semver for our documentation purposes and communicated to our implementers: expect what semver says to expect. Did we misinterpret that semver could be of use in our context? There's also the similar effort going on through #609. It seems relevant to know if the scope of semver extends into documentation or not.

[2022-06-02 15:12] grv87 commented on #341
IMO, the main problem with this proposition is the difficulty of applying it in the real life.

If a transitive dependency uses SemVer then sure. I limit major version anyway, and I know that when they release a new major they are breaking something, so does me.

But if a transitive dependency doesn't use SemVer I cannot be sure whether their new version is a breaking change or not. It's not my co

[2022-06-02 15:44] ljharb commented on #341
No, if you use a dependency that doesn’t use semver, you’re responsible for pinning it so that consumers aren’t broken. *every* dependency of yours is part of your public api.

[2022-06-03 11:30] aij commented on #341
Your users could ask the same question: Why should they have to read your changelog *and all of your dependencies changelogs* in order to tell whether your new version is a breaking change.

Keep in mind if some other library has conflicting requirements it would even be a problem for your users who don't use the transitive dependency directly.

[2022-06-06 08:20] ictus4u commented on #826
I was about to make a similar proposal and got here.

I've found that reordering the conditionals in the non-anchors version seems to improve the performance slightly.

I changed the internal order of `major`, `minor`, `patch` and `prerelease`.

Original:
[code]
Modified:
[code]
It seems to work correctly against the test suite and reports 2229 steps vs 2258 in the original with PCRE and PCRE2.
Pl

[2022-06-06 09:39] ictus4u commented on #826
My modified with-anchors version https://regex101.com/r/FFKHyH/1 contains the same reorder proposed by @sebastien-rosset in the `prerelease` plus my changes in `major`, `minor` and `patch`.
[code]
Same 2406 steps result.

[2022-06-07 23:13] davidmurdoch commented on #238
An discussion about semver has ensued because a library we are developing intends to ship a new (undocumented) property named `__experimental_info`. I think it is clear that developers who may choose use an undocumented property prefixed with not one, but _two_ `_`s and the word `experimental` know that this property will change or be removed in the future.

Clarity on this in the not-too-distant-

[2022-06-08 00:19] ljharb commented on #238
@davidmurdoch it's not clear, actually - in practice, people _will_ grow to depend on this property, and breaking it will break them.

If you don't want something to be part of your API, don't make it reachable from your API.

[2022-06-08 00:32] davidmurdoch commented on #238
@ljharb if that is the stance semver takes then we don't need semver at all; ever single change is breaking. Someone might come to rely on a bug, or might rely on a feature being missing...

[2022-06-08 00:33] ljharb commented on #238
Making a slippery slope argument doesn't change anything. There is a huge difference between a bug and an undocumented property.

[2022-06-12 10:14] Bguess21 opened #844 "Ben Martin"

[2022-06-12 10:20] #844 closed

[2022-06-14 03:56] elasticdotventures opened #845 "Proposal for semver 2.0.1 (as presented) for branch patch/2.1.* for 3.*.* "cognitive toil reduction""
👋 I propose for future semver the community simplify the formatting.  This is an early DRAFT WIP.  Lots of ideas, feedback is 👍

🐭 Version 2.1.* as a proposal for a suite of build actions which can detect & auto-version as a way to use semver as a way to simplify git to noobs "reduce the learning curve", but more broadly I think this changes could make semver more approachable & collectively the e

[2022-06-16 18:26] ralphie79 commented on #815
The redirect works only for HTTPS, and not HTTP.

[2022-06-20 21:43] #815 closed

[2022-07-02 04:22] blasoc commented on #778
Lo id

[2022-07-02 04:22] blasoc commented on #778
Si le ha un un o el otro en por tu ir en por tu o por tu l por el yo un kit el kg kg del box uno na tu la foto

[2022-07-03 15:29] KPC1992 opened #850 "KAMPANAT"

[2022-07-03 15:30] KPC1992 commented on #850
Kongpc

[2022-07-04 08:01] michael8090 commented on #241
I'm not sure if it's resolved. We run into the same problem recently and could not get a working solution that works well with ranged version. We end up to releasing `1.1.1-hotfix.1` of the library and setting the precise version number in the package.json of the app, which makes the version range useless...

[2022-07-04 08:05] michael8090 commented on #241
I'm not sure if it's resolved. We run into the same problem recently and could not get a working solution that works well with ranged version. We end up to releasing 1.1.1-hotfix.1 of the library and setting the precise version number in the package.json of the app, which makes the version range useless...

[2022-07-04 16:35] Lenlencatalan commented on #850
lenlencatalan04@gmail.com

[2022-07-04 16:35] Lenlencatalan commented on #850
support@paypal.com

[2022-07-04 16:35] Lenlencatalan commented on #850
09632707574

[2022-07-05 14:38] dtonhofer commented on #665
Good day. What happened to this? It seems to be in limbo. Accept? Reject?

[2022-07-06 20:26] steveklabnik opened #851 "Nominating Yuki Okushi for the team"
Hey @semver/maintainers ;

Similar to #719, I wanted to open this issue asking to add @JohnTitor to @semver/maintainers.

Yuki has done some work on Crates.io, which uses a *slightly* restricted form of semver than cargo (such as disallowing packages to be published with `*` constraints. Additionally, they're interested in picking up a lot of the maintenance work of triaging issues, etc, which not

[2022-07-08 07:00] katistix opened #852 "Should you use alpha/beta in a 0.y.z version?"
I have a project currently on 0.2.2. After adding some features it will increment to 0.3.0, but the current available version is not complete. (To be more precise, it's an API where you can upload and delete files on a server) but right now you can only upload. I see the upload/remove as a SINGLE feature.

Can I release the current version under 0.3.0-alpha.1 to signal the fact that it is feature

[2022-07-08 07:02] ljharb commented on #852
Yes, you can.

[2022-07-08 07:03] katistix commented on #852
Thanks

[2022-07-08 07:03] #852 closed

[2022-07-08 07:38] Nixinova commented on #852
You can do whatever you want with pre-release tags. Pre/post-1.0 doesn't mean anything in this case.

[2022-07-12 07:29] HDprodieseltuning commented on #845
why cant you just leave me alone. enough is enough man i have lost my entire life because of you. just leave me alone so i can pick up the peaces in peace

[2022-07-15 09:51] rezapiranshe opened #853 "rezapiran"

[2022-07-15 09:52] rezapiranshe commented on #853
Fģ

[2022-07-15 09:52] rezapiranshe commented on #853
Gggg

[2022-07-15 09:55] rezapiranshe opened #854 "CODE_OF_CONDUCT.md"

[2022-07-15 10:42] igorpupkinable commented on #716
Platform requirements change is a breaking change if you narrowing or restricting it.

[2022-07-15 11:10] mvz commented on #716
@igorpupkinable you're ignoring the context of my comment.

[2022-07-17 16:42] Carlos181191 opened #855 "18771b651ddbc695b2d9c90fb60a4d808af62380"

[2022-07-18 07:13] mark-wiemer commented on #833
See https://regex101.com/r/vkijKf/1/. Not in precedence order, but otherwise a pretty good list.

[code]

[2022-07-18 17:40] #855 closed

[2022-07-18 17:40] #853 closed

[2022-07-20 15:43] steveklabnik commented on #851
It's been two weeks! Welcome, @johntitor :)

[2022-07-20 15:43] #851 closed

[2022-07-21 05:59] ismael0757 opened #856 "Idma"

[2022-07-21 07:39] #856 closed

[2022-07-21 07:40] JohnTitor commented on #854
I don't see this issue's point, we already have CODE_OF_CONDUCT.md: https://github.com/semver/semver/blob/master/CODE_OF_CONDUCT.md
If you find that there's an issue with that, feel free to add a comment. For now, I'm going to close.

[2022-07-21 07:40] #854 closed

[2022-07-21 07:40] #789 closed

[2022-07-21 07:42] #797 closed

[2022-07-21 07:43] #787 closed

[2022-07-21 07:44] JohnTitor commented on #784
Provide information in English, please.

[2022-07-21 07:44] #784 closed

[2022-07-21 07:44] #764 closed

[2022-07-26 09:55] LaoshuBaby opened #858 "Should we translate"
I meet with a situation that some languages translate words in BNF to their languages, others remain English.

I have a look of all issue in semver/semver.org and found nothing about this problem.

Should we meet with a community consensus about this? Or let translator of that language make decision themselves?

For example, 11 language's localization contain BNF: bg/de/es/hy/ja/ko/nl/ro/uk/zh-CN/

[2022-07-26 11:54] #796 closed

[2022-07-26 11:56] #786 closed

[2022-07-27 12:03] JohnTitor commented on #497
Hey @andrewrk, sorry for the long delay, but it seems there's no objection and I'd like to call it the consensus. Let me know if you are still interested in helping the semver work! We'll then add you to the team as per https://github.com/semver/semver/blob/master/CONTRIBUTING.md#the-semver-team.

[2022-07-27 12:03] JohnTitor commented on #498
Hey @rsc, sorry for the long delay, but it seems there's no objection and I'd like to call it the consensus. Let me know if you are still interested in helping the semver work! We'll then add you to the team as per https://github.com/semver/semver/blob/master/CONTRIBUTING.md#the-semver-team.

[2022-07-27 12:13] JohnTitor opened #863 "Set up a poll workflow for the maintainers team"
To make the consensus of the maintainers team, we currently create checkboxes manually and ping each people. But it's handsome and can easily miss a person.
I think this workflow should be automated and handled by a bot or GHA. That would be useful when we create multiple polls, actually, there are a lot of RFCs requiring a review.

Prior art: https://github.com/rust-lang/rfcbot-rs/

[2022-07-27 12:14] #719 closed

[2022-07-28 11:30] joerg-wille opened #864 "When to increase version of a pure consumer?"
I understand all the rules of Semantic Versioning that forces changes of versions for API providers. But how to do versioning for code that only consumes API's? Will it always stay on 1.x.y?
Assume you have a client that consumes Lib A. When Lib A made a backward-incompatible change to its API then its major version increased. When the consumer reflects these changes, should its major or its minor

[2022-07-28 22:59] ljharb commented on #864
Why would code that is not itself consumed by others have a version at all?

[2022-07-31 18:09] Shakallasombra commented on #791
Agregame

[2022-08-04 16:19] ksomov opened #865 "What is API in your context?"
You write: [...as they do not influence public API...; ...the huge audience which will be presented with a fait accomplished returns of former behavior of API is better to release new release...; ...When you declare outdated a part of public API, you have to...; ...If you have stable API on which users depend, the version has to be 1.0.0...]
Explain that such API?

[2022-08-09 13:59] alasdairhurst opened #866 "Coerce does not preserve valid versions with prerelease identifiers"
Coerce specifically "Coerces a string to semver if possible". It does not work with ranges.
Given this description, any strings that i provide that happen to be valid semver versions, should be returned as-is.

Unfortunately, i've found that the prerelease identifier gets stripped off entirely.
[code]

[code]

I shouldn't have to provide `loose` (especially if i want to be strict), or `includePrer

[2022-08-09 14:03] alasdairhurst commented on #865
The API is essentially referring to the public interface of your application/library. For example a REST API, exposed functions, the way that it's bundled, requirements from the user's environment, etc...).

[2022-08-10 17:39] alasdairhurst commented on #866
Submitted to the wrong repo, apologies. This is what i was looking for. https://github.com/npm/node-semver/issues/357

[2022-08-10 17:39] #866 closed

[2022-08-11 07:56] gg900010444444444 opened #867 "minecraft"

[2022-08-11 08:05] #867 closed

[2022-08-11 23:11] JohnTitor commented on #865
See also [What is an Application Programming Interface (API) | IBM](https://www.ibm.com/cloud/learn/api) and [API - Wikipedia](https://en.wikipedia.org/wiki/API).

[2022-08-11 23:11] #865 closed

[2022-08-13 14:32] JohnTitor commented on #813
@Calorion It'd take some time to be merged but feel free to send a PR.

[2022-08-13 14:36] JohnTitor commented on #822
Duplicate of https://github.com/semver/semver.org/issues/320

[2022-08-13 14:36] #822 closed

[2022-08-13 14:45] JohnTitor opened #868 "Working draft version of the website?"
Currently, every change here is published every day by GHA workflow: https://github.com/semver/semver.org/blob/gh-pages/.github/workflows/sync.yml

But it means every change _needs_ to bump up the semver's version, otherwise, it makes a difference between the tagged version and the published version on the website. And it'd also be confusing to have specifications published under the same version

[2022-08-13 14:56] JohnTitor commented on #807
I think this is not something to clarify on the semver specification, so just closing in favor of the above answer.

[2022-08-13 14:56] #807 closed

[2022-08-13 15:03] JohnTitor commented on #384
Closing in favor of the above comment. Let me know if there's still an issue.

[2022-08-13 15:03] #384 closed

[2022-08-13 18:43] jwdonahue commented on #864
That first question is mildly confusing. But reading further, I think your root query here is in regard to [transitive dependencies](https://en.wikipedia.org/wiki/Transitive_dependency), which have been [discussed in-depth in earlier threads](https://github.com/semver/semver/issues?q=is%3Aissue+transitive+dependency+).

There's basically two schools of thought here. Those that take the spec litera

[2022-08-14 07:14] jwdonahue commented on #864
Related:

#14 how to handle transitive dependencies.
#337 Public dependencies should be transitive.
#341 Transitive dependencies are part of th epublic API and thus should increment version accordingly.
#445 If a bug on which dependent software might rely is patched, is it a major or a patch bump?
#456 Change wording with regards to breaking change in dependency.
#468 https://github.com/semver/sem

[2022-08-19 15:37] dan2see commented on #575
My I suggest BNF for Java?
https://sourceforge.net/projects/bnf-for-java/
In 2007, I wrote this parser-generator in Java, and conforms to ISO-14977.
In 2022, I am re-writing the compiler in Antlr. Wish me luck!

[2022-08-20 18:16] RahmaNiftaliyev commented on #863
#868

[2022-08-22 14:35] steveklabnik commented on #868
Some sort of "latest" version seems prudent, yeah.

[2022-08-25 08:48] cubuspl42 commented on #468
@jwdonahue I'm sorry to hear that you won't have the time or inclination to issue a PR, but I respect that. I'm not sure if I understand your personal rules regarding closing issues, though. Multiple issues got closed in favor of this one, so it collectively represents doubts and problems of multiple individuals. I don't believe that in such case it's a good idea to just close this, when nothing a

[2022-08-25 17:24] jwdonahue commented on #468
@cubuspl42 It's ironic that a cabal of packaging tool maintainers control a semantic versioning spec, that defines an API versioning scheme that really doesn't say a lot about how to version collections of things.  Semantic versioning is a concept with many nuances that could not possibly be described in a single page of text.  SemVer is just a one page distillation of that concept, that happened

[2022-08-25 18:15] cubuspl42 commented on #468
@jwdonahue
I think that it's not as bad as you suggest. I do agree that's Semver is not perfect for all uses and does not solve all problems around versioning, but I still find it a progress over version numbers that had absolutely no meaning and everyone was making up their own scheme. I believe that some minor wording changes around the term "API" could improve it a lot, though.

If you have a b

[2022-08-25 21:39] arbazshiekh31 commented on #841
@841

[2022-08-26 03:30] jwdonahue commented on #468
You're welcome to issue a PR.

[2022-08-29 00:41] Japottatweet opened #869 "Japottatweet101"
Mine

[2022-08-30 10:08] #869 closed

[2022-09-02 04:42] kingofDaniel opened #870 "thanks"

[2022-09-02 09:11] #870 closed

[2022-09-03 15:37] acarl005 opened #871 "Add a way to include all prerelease versions in a range"
Currently, prerelease versions can only be opted-in to for specific patch versions, e.g. the range `^3.0.0-0` will allow `3.0.0-beta.1`, but not `3.1.0-beta.1`. I think this is the optimal behavior for what most users expect. However, there are some use cases for allowing prereleases for everything in the range. For example, see [this discussion](https://github.com/vitest-dev/vitest/issues/1960).

[2022-09-03 22:04] ljharb commented on #871
Can’t it do `^3.0.0-0 || ^3.1.0-0` etc, as needed?

[2022-09-03 22:18] acarl005 commented on #871
Yes, that is possible. However, it means that the maintainers of vite-node need to add a version with every minor release of vite, which is burdensome.

[2022-09-04 01:01] ljharb commented on #871
True, but that’s far less burdensome than updating the entire node ecosystem to support a new range operator.

[2022-09-13 14:25] bcope commented on #235
[Link to SemVer documentation that specifies this](https://semver.org/#is-v123-a-semantic-version).

[2022-09-13 20:54] sloik opened #873 "Implementations - Swift"
Hi :)

For fun, I have started implementing the specification in Swift (https://github.com/sloik/Major.Minor.Patch).

Are there more and where can I find them? Is there a place where I can add my library so other developers that would like to use it can easily find it?

Cheers :)

[2022-09-13 22:34] JohnTitor commented on #873
AFAIK no, and I expect some might become outdated/abandoned so I wouldn't prefer to provide it as official.

I've created https://github.com/JohnTitor/awesome-semver to collect them as an unofficial list. Does it work for you?

[2022-09-14 09:16] sloik commented on #873
Yes :D

Do I need to create a PR or issue on that repository? :)

[2022-09-15 05:46] bitbonk opened #874 "increment the MAJOR version when you make incompatible ... changes"
The [spec](https://semver.org/) says right at the beginning

but what about incompatible changes that does change the API surface, e.g. when you only make incompatible behavioral changes?

[2022-09-15 05:52] ljharb commented on #874
the API includes all of the behavior, not just the interface.

[2022-09-15 06:00] bitbonk commented on #874
Shouldn't the spec be more clear about this? I am pretty sure that most people associate the interface when they read "API" (application _interface_).

[2022-09-15 06:08] ljharb commented on #874
Yes, it probably should. The problem is that most people think "interface" in programming means "your function signatures and types", it actually means "any way you interact with it", which encompasses all observable behaviors and properties.

[2022-09-15 08:41] JohnTitor commented on #873
No worries, I've added your repo: https://github.com/JohnTitor/awesome-semver/commit/2370decb8438c85f78e0157b181515774d24cb4e
I'm going to close this issue as resolved but if you know any other stuff to be added there, I'd love to see your PRs :)

[2022-09-15 08:41] #873 closed

[2022-09-16 04:41] jwdonahue commented on #874
The correct answer is it depends on what you are versioning.  If you are versioning the interface, then any implementation details are not your concern.  If you are versioning both the interface AND implementation, as-in, you're probably versioning a package, then major version bump if you make a breaking change to either the interface or the implementation.  In fact, some package format changes,

[2022-09-16 04:48] jwdonahue commented on #871
This seems like a discussion for the [node issues site](https://github.com/nodejs/node/issues).  SemVer, does not currently define range specs, though that is a [WIP](https://github.com/semver/semver/tree/isaacs/ranges), but it's primarily meant to document the most common factors between a small set of existing tools that each have their own range spec semantics.

[2022-09-16 05:03] jwdonahue commented on #868
Perennial complaint.  The published spec does not adhere to SemVer versioning.  I think the working draft was reflected in the readme.md file for a long time, while the official site content was being generated in the other repo, and that caused some consternation due to them both having the same version number and different content.

The version should not be bumped simply because some automation

[2022-09-16 05:15] ljharb commented on #871
Oh, my mistake, I thought this issue was filed on npm/semver. This spec doesn't have ranges at all, so I totally agree it's entirely off topic.

[2022-09-16 05:39] jwdonahue commented on #835
The intro to the spec says that you define what is part of your "API" and mentions docs explicitly.

In C/C++ warnings can be explicitly emitted from code for things like deprecation notices, but many build environments enable a feature that treats all warnings as errors.  The spec fails to cover many of the contingencies around deprecation.  While an attempt was made to be language agnostic, I su

[2022-09-16 05:50] jwdonahue commented on #841
Version tags on git content hashes are redundant and don't scale well.  The purpose of release branches however is to provide an easy point to go back to when you need to roll a fix across multiple releases.  You don't generally create them for minor, patch or prerelease changes, you create them when you must support several major versions at one time, so the nomenclature should be more like v1, v

[2022-09-16 15:10] bitbonk commented on #874
That makes perfect sense, thank you!

[2022-09-16 15:11] #874 closed

[2022-09-17 22:03] Amirsa5414 opened #875 "Gift"

[2022-09-21 07:54] codehangen opened #876 "semver version in yaml format"
Hi all.  I would like to know if you all have ever thought about creating a semver file in Yaml.  *Would it be possible to have a **semver.yaml** file?*

**semver.yaml**
[code]

[2022-09-21 11:41] JohnTitor commented on #876
The current comment doesn't describe what that YAML file does, could you clarify? What do you want for the semver specification?

[2022-09-21 12:07] JohnTitor commented on #876
Hmm, I don't think [specification **is** a data type](https://en.wikipedia.org/wiki/Specification_(technical_standard)).

So you want to express the specification with YAML? But your YAML file just lists version numbers and some even don't follow semver (e.g. `1.0.1a`).

AFAIK no.

[2022-09-21 13:53] ljharb commented on #876
What is a “semver file”?

[2022-09-21 19:40] ljharb commented on #876
@codehangen that doesn't clear it up. Semver means that the version triple - x.y.z (possibly with a prerelease or build identifier) - encapsulates the entirety of the semantics, which means that the format of the file containing it is utterly irrelevant.

[2022-09-21 22:28] #876 closed

[2022-10-05 15:13] JohnTitor commented on #497
I will close this as there's been no response for over 2 months. Feel free to reclaim if you're still interested in the semver spec maintenance!

[2022-10-05 15:13] #497 closed

[2022-10-05 15:13] JohnTitor commented on #498
I will close this as there's been no response for over 2 months. Feel free to reclaim if you're still interested in the semver spec maintenance!

[2022-10-05 15:13] #498 closed

[2022-10-07 16:23] wanowners opened #879 "VAT41"

[2022-10-08 00:34] #879 closed

[2022-10-15 17:18] sabrican3532 commented on #871
@segiddins

[2022-10-16 22:05] anafebacus commented on #871
Tank u

[2022-10-25 00:07] Antonic07 opened #885 "Reaparición de. Carrier hub"
Reparación de Carrier hub

[2022-10-25 00:42] #885 closed

[2022-11-01 23:33] EddyBehbudov opened #887 "Eddi"
Eddi

[2022-11-01 23:33] EddyBehbudov commented on #887
1123

[2022-11-01 23:39] #887 closed

[2022-11-07 07:02] Ervcdvbnnda opened #889 "L"

[2022-11-07 07:03] Ervcdvbnnda commented on #889
#598

[2022-11-10 14:56] Jsm34 commented on #863
😬

[2022-11-10 18:38] ukanuk commented on #175
Does format `x.y.YYYYMMDD` already match Semver 2.0.0? I see nothing in spec about incrementing versions _by one_, it just says to increment according to incompatible changes/compatible new features/bugfixes. I suggest `YYYYMMDD` since that's ISO date format and ensures the patch number always increases.

[2022-11-11 13:06] slayer321 commented on #232
The above regex mention by @DavidFichtmueller failed for this condition
- 0.10.1

you can use the below regex
[code]

[2022-11-11 13:21] DavidFichtmueller commented on #232
@slayer321 : can you please specify which of the regexes mentioned by me, fails for this case? I double checked them and it worked for all (the regex itself has evolved over the course of this discussion). But most importantly, it works for the two expressions mentioned on the website: https://semver.org/#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string (use the two regex101.

[2022-11-18 02:03] jwdonahue commented on #831
Adding functionality does not necessarily increase or modify the interface, so the proposed new language has a similar flaw to the original.  A library might have a SoundOn interface for instance that was never implemented in the package.  The 'I' in API stands for Interface, not implementation, but the spec's intro says the publisher decides what API means in the context of their product.

Addres

[2022-11-18 08:33] jcornaz commented on #831
I think a good specification minimizes the risk of diverging interpretations. SemVer should aim to maximize its clarity and applicability.

If it is a breaking change (for example requiring a new version of the language or something new in the environment) = bump major (as per the breaking change rule)

If it is not (and there is no API change) it is a patch

There is already a clear rule about br

[2022-11-18 08:52] ttencate commented on #604
https://keepachangelog.com/ is trying to standardize changelogs, not unlike what semver did for version numbers. (And the spec adheres to semver!) I find it's a good format, both for developers and for users. I was surprised that there doesn't seem to be a semver changelog yet.

[2022-11-18 21:19] jwdonahue commented on #831
Spend some time reading all of the closed issues on this site and you'll likely come to the conclusion that I did, namely that that is not the intent of the maintainers.  The maintainers are package tool owners serving diverse ecosystems.  There are many, much tighter specs out there, mostly for very narrowly defined use cases.

"refactoring" means changing the implementation without changing the

[2022-11-18 22:23] jcornaz commented on #831
So we are doomed and any effort to improve the spec is in vain. We are left with a versioning spec that is not even good enough to version itself and that every developer understands differently and argues about. I've even seen people refusing to release a new version of the software that's full of CVE, because "there is no functional change".

Sadly, it does look like that is the case indeed. Not

[2022-11-22 16:17] Jsm34 opened #898 "MMM PECCAMINOUS PASSION !"
Acht ! ![1669133754790.png](https://user-images.githubusercontent.com/104213558/203365661-29572460-98c4-4900-a042-66c3890c0e13.png)

[2022-11-22 18:11] KingLink96 opened #899 "Earthquake Engineering"
Earthquake Engineering

[2022-11-22 18:12] KingLink96 commented on #899
Earthquake Engineering

[2022-11-25 15:00] IPMHERO commented on #734
Cảm ơn

[2022-11-29 22:19] wojtekxtx commented on #871
Would not be sufficient to run sth along the lines:
[code]
?

[2022-11-30 10:27] gowizzard opened #900 "Naming of major or minor version numbers"
Hello everyone, I have a small understanding question and wanted to clarify this here briefly. If I have a higher version number, should it be `major update` or rather `major >`? The same would intressieren me also for smaller version numbers, whether one should write now `minor downgrade` or `minor <`.

Maybe someone here can answer this question. Thank you in advance.

[2022-11-30 14:26] gowizzard commented on #900
Thank you, but what if I compare two versions? Then I would probably say major, minor or patch update. I have not found anything specific in the documentation.

Generally it's just about comparing different version numbers, which I implemented in a small project. I just want to make sure that my output is correct. [Here](https://github.com/gowizzard/compver#compare-versions) you can find the examp

[2022-11-30 14:49] gowizzard commented on #900
Okay, thank you! Then I have already installed the correct formulations.